/HoaChatThiNghiem/target/
/HoaChatThiNghiem/target/*
HoaChatThiNghiem/target/*
HoaChatThiNghiem/target/

/HoaChatThiNghiem/.idea/
/HoaChatThiNghiem/.idea/*
HoaChatThiNghiem/.idea/*
HoaChatThiNghiem/.idea/